discord_token=discord token goes here
discord_channel_id=discord channel id goes here
twitch_app_token=twitch client auth token
twitch_client_id=twitch client id
twitch_client_secret=twitch client secret
twitch_channel=name of channel to sub to
twitch_channel_id=id of channel to sub to
twitch_channel_auth=auth token for channel to sub to
twitch_channel_refresh_token=refresh token for channel to sub to
twitch_reward_name=name of reward
banned_users=
user_queue_depth=100
enable_debug=False
enable_bot_actions=True
sdxl_lora=name of lora file located in assets/ leave blank for no lora